.pad {
  width: 3em; 
  height: 3em; 
  margin-bottom: 1em;
  display: inline-block; 
  background: #DADADA; 
  box-shadow: rgba(0, 0, 0, 0.0980392) -6px 6px 0px 0px inset;
  margin-right: 1em; 
  cursor: pointer;
}

.selected {
  background: #00FF00;
}

.playing {
  background: radial-gradient(#FCFCFC, #E3E3E3, #B6B6B6);
}

.playing.selected {
  background: radial-gradient(#E6FFE6, #99FF99, #66FF66); 
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#play-pause {
  margin: 10px 0;
}

.control {
  margin: 10px 0;
}

.instrument-label {
    display: inline-block;
    vertical-align: top;
    width: 4em;
    position: relative;
    top: 1em;
    text-align: right;
    margin-right: 0.5em;
}

.tempo-container {
  margin: 0 10px;
}

#tempo-input {
  margin: 0 10px;
  line-height: 30px;
  border-radius: 3px;
  font-size: 25px;
  width: 60px;
  vertical-align: middle;
}

.tempo-btn {
  margin: 0 5px;
}
